<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Available components</h2>
  <ul id="available-components">
    <% Components.all.each do |component| %>
      <li><span class="component-name"><%= component.humanized_name.to_s %></span> <%= link_to "Add", "#" %></li>
    <% end %>
  </ul>

  <h2>Selected components</h2>
  <ul id="selected-components">
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>

  function addComponent(componentName) {
    var el = $('<li><span class="component-name">' + componentName + '</span> <a href="#" class="remove-component">x</a></li>');
    $('#selected-components').append(el);
  }

  function removeComponent(component) {
    component.remove();
  }

  $(document).ready(function() {
    <% @template.components.each do |component| %>
      addComponent(<%=raw component.class.humanized_name.to_json %>);
    <% end %>

    $('#available-components li a').click(function() {
      addComponent($(this).parent('li').find('.component-name').text())
    })

    $('#selected-components li a.remove-component').click(function() {
      removeComponent($(this).parent('li'));
    });

    $('#selected-components').sortable();

    $('.edit_template').submit(function(event) {
      event.preventDefault();

      var components = [];
      $('#selected-components li').each(function(index, el) {
        components.push($(el).find('.component-name').text())
      });

      console.log($(this).attr("action"))
      $.ajax($(this).attr("action"), {
        type: 'PUT',
        data: {
          template: {
            components: components
          }
        }
      })
      return false;
    })
  })
<% end %>